DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/mini_agenthub?schema=public"

# Email Configuration
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
APP_URL="http://localhost:5173"

PROXY="http://proxybsh.bkav.com:3128"

JWT_SECRET="your_jwt_secret"

# Groq API Configuration
GROQ_API_KEY=your_groq_api_key

# Flowise API Configuration
FLOWISE_API_URL=https://flowisetenant.demozone.vn/api/v1/prediction/your-flowise-id
FLOWISE_API_KEY=your_flowise_api_key

# Enterprise Proxy Configuration
HTTP_PROXY=http://proxybsh.bkav.com:3128

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

PORT=3000

JWT_ACCESS_SECRET="your_jwt_access_secret"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
