@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* BKAV: Ẩn icon con mắt mặc định của các trình duyệt (Edge/IE) trong trường password */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* BKAV: CSS Animation cho thông báo Toast */
@keyframes toastSlideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-toast-slide-in {
  animation: toastSlideIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* BKAV HaiHS : Custom style cho thanh cuộn của textarea nhập câu hỏi - start */
.cyber-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.cyber-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.cyber-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 99px;
}
.dark .cyber-scrollbar::-webkit-scrollbar-thumb {
  background: #232d42;
}
.cyber-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}
/* BKAV HaiHS : Custom style cho thanh cuộn của textarea nhập câu hỏi - end */
